<div ng-controller="cardControl as cards">
  <div class="filterdiv" style="width:50%">
    <input ng-model="cards.filtersettings.search.name_norm" type="text" placeholder=" Search by card name" style="width:40%;"></input>
    <input ng-model="cards.filtersettings.search.textc" type="text" placeholder=" Search by card text" style="width:40%"></input>
    <button ng-click="cards.resetSearch();" class="btn btn-default btn-sm" style="font-size:12px;width:15%;margin-bottom:5px;">Reset</button>
    <br/>
    <categories></categories>
    <traits></traits>
    <br/>
    <div style="float:left;width:100%;">
      <!-- <div style="font-size:9px;width:100%;text-align:center;">Card Type</div><br/> -->
	<div class="btn-group">
      <button title="Heroes" class="btn btn-default btn-md filterbutton" ng-class="{active: cards.filtersettings.type['1hero']}" ng-click="cards.toggleType('1hero',$event)"><img src="images/types/1hero.png"/></button>
      <button title="Allies" class="btn btn-default btn-md filterbutton" ng-class="{active: cards.filtersettings.type['2ally']}" ng-click="cards.toggleType('2ally',$event)"><img src="images/types/2ally.png"/></button>
      <button title="Attachments" class="btn btn-default btn-md filterbutton" ng-class="{active: cards.filtersettings.type['3attachment']}" ng-click="cards.toggleType('3attachment',$event)"><img src="images/types/3attachment.png"/></button>
      <button title="Events" class="btn btn-default btn-md filterbutton" ng-class="{active: cards.filtersettings.type['4event']}" ng-click="cards.toggleType('4event',$event)"><img src="images/types/4event.png"/></button>
      <button title="Side Quests" class="btn btn-default btn-md filterbutton" ng-class="{active: cards.filtersettings.type['5quest']}" ng-click="cards.toggleType('5quest',$event)"><img src="images/types/5quest.png"/></button>
      </div>
	&nbsp;
	&nbsp;
	<!-- <div style="font-size:9px;width:100%;text-align:center;">Sphere of Influence</div><br/> -->
	<div class="btn-group">
      <button title="Leadership" class="btn btn-default btn-md" ng-class="{active: cards.filtersettings.spheres['1leadership']}" ng-click="cards.toggleSphere('1leadership',$event)"><img src="images/spheres/1leadership.png"/></button>
      <button title="Tactics" class="btn btn-default btn-md" ng-class="{active: cards.filtersettings.spheres['2tactics']}" ng-click="cards.toggleSphere('2tactics',$event)"><img src="images/spheres/2tactics.png"/></button>
      <button title="Spirit" class="btn btn-default btn-md" ng-class="{active: cards.filtersettings.spheres['3spirit']}" ng-click="cards.toggleSphere('3spirit',$event)"><img src="images/spheres/3spirit.png"/></button>
      <button title="Lore" class="btn btn-default btn-md" ng-class="{active: cards.filtersettings.spheres['4lore']}" ng-click="cards.toggleSphere('4lore',$event)"><img src="images/spheres/4lore.png"/></button>
      <button title="Neutral" class="btn btn-default btn-md" ng-class="{active: cards.filtersettings.spheres['5neutral']}" ng-click="cards.toggleSphere('5neutral',$event)"><img src="images/spheres/5neutral.png"/></button>
      <button title="Baggins" class="btn btn-default btn-md" ng-class="{active: cards.filtersettings.spheres['6baggins']}" ng-click="cards.toggleSphere('6baggins',$event)"><img src="images/spheres/6baggins.png"/></button>
      <button title="Fellowship" class="btn btn-default btn-md" ng-class="{active: cards.filtersettings.spheres['7fellowship']}" ng-click="cards.toggleSphere('7fellowship',$event)"><img src="images/spheres/7fellowship.png"/></button>
      </div>
    </div>
  </div>
  <br>
  <!-- <div style="width:50%;top:130px;left:1%;position:absolute;"> -->
  <!--   <table> -->
  <!--     <tr> -->
  <!-- 	<td style="font-weight: bold;left:15%;position:absolute;"><a href ng-click="cards.orderby('name_norm')">Name</a></td> -->
  <!-- 	<td style="font-weight: bold;left:45%;position:absolute;"><a href ng-click="cards.orderby(['sphere','name_norm'])">Sphere</a></td> -->
  <!-- 	<td style="font-weight: bold;left:60%;position:absolute;"><a href ng-click="cards.orderby(['cost','name_norm'])">Cost</a></td> -->
  <!-- 	<td style="font-weight: bold;left:68%;position:absolute;"><a href ng-click="cards.orderby(['type','name_norm'])">Type</a></td> -->
  <!-- 	<td style="font-weight: bold;left:76%;position:absolute;"><a href ng-click="cards.orderby(['-willpower','name_norm'])"><img title="Willpower" src="images/willpower.gif"/></a></td> -->
  <!-- 	<td style="font-weight: bold;left:81%;position:absolute;"><a href ng-click="cards.orderby(['-strength','name_norm'])"><img title="Attack" src="images/strength.gif"/></a></td> -->
  <!-- 	<td style="font-weight: bold;left:87%;position:absolute;"><a href ng-click="cards.orderby(['-defense','name_norm'])"><img title="Defense" src="images/defense.gif"/></a></td> -->
  <!-- 	<td style="font-weight: bold;left:91%;position:absolute;"><a href ng-click="cards.orderby(['-hitpoints','name_norm'])"><img title="Hit Points" src="images/hitpoints.png" style="width:20px;height:20px;"/></a></td> -->
  <!--     </tr> -->
  <!--   </table> -->
  <!-- </div> -->

  <div class="cardsdiv" style="width:50%">
    <table class="cardlist">
      <tbody>
	<tr>
	  <th></th>
	  <th style="font-weight: bold;"><a href ng-click="cards.orderby('name_norm')">Name</a></th>
	  <th style="font-weight: bold;"><a href ng-click="cards.orderby(['sphere','name_norm'])">Sphere</a></th>
	  <th style="font-weight: bold;"><a href ng-click="cards.orderby(['cost','name_norm'])">Cost</a></th>
	  <th style="font-weight: bold;"><a href ng-click="cards.orderby(['type','name_norm'])">Type</a></th>
	  <th style="font-weight: bold;"><a href ng-click="cards.orderby(['-willpower','name_norm'])"><img title="Willpower" src="images/willpower.gif"/></a></th>
	  <th style="font-weight: bold;"><a href ng-click="cards.orderby(['-strength','name_norm'])"><img title="Attack" src="images/strength.gif"/></a></th>
	  <th style="font-weight: bold;"><a href ng-click="cards.orderby(['-defense','name_norm'])"><img title="Defense" src="images/defense.gif"/></a></th>
	  <th style="font-weight: bold;"><a href ng-click="cards.orderby(['-hitpoints','name_norm'])"><img title="Hit Points" src="images/hitpoints.png" style="width:20px;height:20px;"/></a></th>
	</tr>

	<tr ng-repeat="card in cards.allcards | cardfilter:cards | filter:cards.filtersettings.search | orderBy:cards.order" class="cardrow" ng-mouseover="cards.changepreview(card)">
          <td style="font-size:0;">
            <img class="preload"  ng-src="{{cards.image.loaded && card.img || ''}}" /> <!-- This doesn't preload images if there's an image we want to load right now -->
	    <div class="btn-group">
            <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==0}" ng-click="deck.change(card,0)">0</button>
            <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==1}" ng-click="deck.change(card,1)">1</button>
            <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==2}" ng-click="deck.change(card,2)" ng-hide="card.type=='1hero' || card.restrict || (cards.filtersettings.onecore && card.corequantity < 2)">2</button>
            <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==3}" ng-click="deck.change(card,3)" ng-hide="card.type=='1hero' || card.restrict || (cards.filtersettings.onecore && card.corequantity < 3) || (deck.filtersettings.twocore && card.corequantity < 2 && deck.quantity(card) < 3)">3</button>
	    </div>
          </td>
          <td style="">
            <img class="unique" src="images/unique.png" ng-show="card.unique"/>
            {{card.name}}</td>
          <td style="text-align:center"><img src="images/spheres/{{card.sphere}}.png"/></td>
          <td style="text-align:center">{{card.cost}}</td>
          <td style=""><img src="images/types/{{card.type}}.png"/></td>
          <td style="">{{card.willpower}}</td>
          <td style="">{{card.strength}}</td>
          <td style="">{{card.defense}}</td>
          <td style="">{{card.hitpoints}}</td>
	</tr>
      </tbody>
    </table>
  </div>
</div>

<div ng-controller="deckCtrl">
<div class="deckdiv">
  <div ng-hide="deck.empty();">
    <input type="text" name="deckname" placeholder="Deck name" ng-model="deck.deckname" ng-disabled="deck.editing" style="width:100%;text-align:center;"></input>
    <div class="btn-group" style="width:100%">
    <button ng-click="saveDeck();" class="btn btn-default btn-md" style="font-size:12px;width:50%" ng-disabled="saving">Save</button>
    <button ng-click="deck.clear();" class="btn btn-default btn-md" style="font-size:12px;width:50%">Clear Deck</button>
    </div>
  </div>
  <h4 ng-show="deck.countTotal()">Total Cards: {{deck.countTotal()}}</h4>
  <table class="deck">
    <tr class="head" ng-show="deck.countHeroes()"><td style="width:100px"></td><td>Starting threat: {{deck.startingThreat()}}</td></tr>
    <tr class="card" ng-repeat="card in deck['1hero'] | orderBy:['sphere','name_norm']" ng-mouseover="changepreview(card)">
      <td style="font-size:0;text-align:center;">
	<div class="btn-group">
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==0}" ng-click="deck.change(card,0)">X</button>
	</div>
      </td>
      <td class="c{{card.sphere}}">{{card.name}}</td>
    <tr class="head" ng-show="deck.countAllies()"><td></td><td>Allies ({{deck.countAllies()}})</td></tr>
    <tr class="card" ng-repeat="card in deck['2ally'] | orderBy:['sphere','name_norm']" ng-mouseover="changepreview(card)">
      <td style="font-size:0;">
	<div class="btn-group">
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==0}" ng-click="deck.change(card,0)">X</button>
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==1}" ng-click="deck.change(card,1)">1</button>
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==2}" ng-click="deck.change(card,2)" ng-hide="card.restrict || (deck.filtersettings.onecore && card.corequantity < 2 && deck.quantity(card)<2 )">2</button>
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==3}" ng-click="deck.change(card,3)" ng-hide="card.restrict || (deck.filtersettings.onecore && card.corequantity < 3 && deck.quantity(card)<3 ) || (deck.filtersettings.twocore && card.corequantity < 2 && deck.quantity(card) < 3)">3</button>
	</div>
      </td>
      <td class="c{{card.sphere}}">{{card.name}}</td></li>
    <tr class="head" ng-show="deck.countAttachments()"><td></td><td>Attachments ({{deck.countAttachments()}})</td></tr>
    <tr class="card" ng-repeat="card in deck['3attachment'] | orderBy:['sphere','name_norm']" ng-mouseover="changepreview(card)">
      <td style="font-size:0;">
	<div class="btn-group">
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==0}" ng-click="deck.change(card,0)">X</button>
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==1}" ng-click="deck.change(card,1)">1</button>
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==2}" ng-click="deck.change(card,2)" ng-hide="card.restrict || (deck.filtersettings.onecore && card.corequantity < 2 && deck.quantity(card)<2 )">2</button>
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==3}" ng-click="deck.change(card,3)" ng-hide="card.restrict || (deck.filtersettings.onecore && card.corequantity < 3 && deck.quantity(card)<3 ) || (deck.filtersettings.twocore && card.corequantity < 2 && deck.quantity(card) < 3)">3</button>
	</div>
      </td>
      <td class="c{{card.sphere}}">{{card.name}}</td></li>
    <tr class="head" ng-show="deck.countEvents()"><td></td><td>Events ({{deck.countEvents()}})</td></tr>
    <tr class="card" ng-repeat="card in deck['4event'] | orderBy:['sphere','name_norm']" ng-mouseover="changepreview(card)">
      <td style="font-size:0;">
	<div class="btn-group">
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==0}" ng-click="deck.change(card,0)">X</button>
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==1}" ng-click="deck.change(card,1)">1</button>
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==2}" ng-click="deck.change(card,2)" ng-hide="card.restrict || (deck.filtersettings.onecore && card.corequantity < 2 && deck.quantity(card)<2 )">2</button>
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==3}" ng-click="deck.change(card,3)" ng-hide="card.restrict || (deck.filtersettings.onecore && card.corequantity < 3 && deck.quantity(card)<3 ) || (deck.filtersettings.twocore && card.corequantity < 2 && deck.quantity(card) < 3)">3</button>
	</div>
      </td>
      <td class="c{{card.sphere}}">{{card.name}}</td></tr>
    <tr class="head" ng-show="deck.countQuests()"><td></td><td>Quests ({{deck.countQuests()}})</td></tr>
    <tr class="card" ng-repeat="card in deck['5quest'] | orderBy:['sphere','name_norm']" ng-mouseover="changepreview(card)">
      <td style="font-size:0;">
	<div class="btn-group">
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==0}" ng-click="deck.change(card,0)">X</button>
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==1}" ng-click="deck.change(card,1)">1</button>
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==2}" ng-click="deck.change(card,2)" ng-hide="card.restrict || (deck.filtersettings.onecore && card.corequantity < 2 && deck.quantity(card)<2 )">2</button>
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==3}" ng-click="deck.change(card,3)" ng-hide="card.restrict || (deck.filtersettings.onecore && card.corequantity < 3 && deck.quantity(card)<3 ) || (deck.filtersettings.twocore && card.corequantity < 2 && deck.quantity(card) < 3)">3</button>
	</div>
      </td>
      <td class="c{{card.sphere}}">{{card.name}}</td></tr>
  </table>


</div>
<div class="suggesteddiv" ng-controller="suggestedCtrl" ng-hide="deck.empty()">
  <button class="btn btn-default btn-sm" style="width:100%;" ng-hide="suggested.hidden" ng-click="suggested.hidden = 1">
    Hide Suggestions
  </button>
  <button class="btn btn-default btn-sm" style="width:100%;" ng-show="suggested.hidden" ng-click="suggested.hidden = 0">
    Show Suggestions
  </button>
  <button class="btn btn-default btn-sm" style="width:100%" ng-show="suggested.blacklist.length&&!suggested.hidden" ng-click="suggested.clearBlacklist()" ng-class="">
    Clear Blocked Suggestions
  </button>
  <div ng-hide="suggested.hidden||suggested.useSmartSuggestions"><label for="rankSuggestions">Rank by Popularity</label>
    <input type="checkbox" id="rankSuggestions" class="col-sm-2 control-label" ng-model="suggested.rankSuggestions" ng-change="suggested.getStats()"></input>
  </div>  
  <div ng-hide="suggested.hidden||suggested.rankSuggestions||!syncStatus.cardNetworkLoaded"><label for="smartSuggestions">Use Smart Suggestions</label>
    <input type="checkbox" id="smartSuggestions" class="col-sm-2 control-label" ng-model="suggested.useSmartSuggestions" ng-click="suggested.deckChange(deck)"></input>
  </div>
  <div ng-show="!suggested.hidden && suggested.useSmartSuggestions">
  <table class="suggested">
      <tr class="card" ng-repeat="card in suggested.smartSuggestions" ng-mouseover="changepreview(card)">
	<td style="font-size:0;">
	  <div class="btn-group">
            <button class="btn btn-default btn-xs" ng-class="" ng-click="suggested.remove(card)">X</button>
            <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==1}" ng-click="deck.change(card,1)">1</button>
            <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==2}" ng-click="deck.change(card,2)" ng-hide="card.restrict || card.type=='1hero' || (suggested.filtersettings.onecore && card.corequantity < 2 && deck.quantity(card)<2 )">2</button>
            <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==3}" ng-click="deck.change(card,3)" ng-hide="card.restrict || card.type=='1hero' || (suggested.filtersettings.onecore && card.corequantity < 3 && deck.quantity(card)<3 ) || (suggested.filtersettings.twocore && card.corequantity < 2 && deck.quantity(card) < 3)">3</button>
	  </div>
	</td>
	<td class="c{{card.sphere}}">{{card.name}}</td>
      </tr>
    <!-- </div> -->
  </table>
  </div>

  <div ng-hide="suggested.hidden || !suggested.rankSuggestions || suggested.useSmartSuggestions">
  <table class="suggested">
    <!-- <div ng-show="suggested.rankSuggestions"> -->
      <tr class="head"><td style="width:100px"></td><td>Ranked</td></tr>
      <tr class="card" ng-repeat="card in suggested.databaseStats.statsCardObject | orderBy:'-deckPercentage'" ng-mouseover="changepreview(card)" ng-show="suggested.rankSuggestions && suggested.isInSuggested(card)">
	<td style="font-size:0;">
	  <div class="btn-group">
            <button class="btn btn-default btn-xs" ng-class="" ng-click="suggested.remove(card)">X</button>
            <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==1}" ng-click="deck.change(card,1)">1</button>
            <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==2}" ng-click="deck.change(card,2)" ng-hide="card.restrict || card.type=='1hero' || (suggested.filtersettings.onecore && card.corequantity < 2 && deck.quantity(card)<2 )">2</button>
            <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==3}" ng-click="deck.change(card,3)" ng-hide="card.restrict || card.type=='1hero' || (suggested.filtersettings.onecore && card.corequantity < 3 && deck.quantity(card)<3 ) || (suggested.filtersettings.twocore && card.corequantity < 2 && deck.quantity(card) < 3)">3</button>
	  </div>
	</td>
	<td class="c{{card.sphere}}">{{card.name}}</td>
      </tr>
    <!-- </div> -->
  </table>
  </div>

  <table class="suggested" ng-hide="suggested.hidden || suggested.rankSuggestions || suggested.useSmartSuggestions">

    <tr class="head" ng-show="suggested.countHeroes()"><td style="width:100px"></td><td>Heroes</td></tr>
    <tr class="card" ng-repeat="card in suggested['1hero'] | orderBy:['sphere','name_norm']" ng-mouseover="changepreview(card)">
      <td style="font-size:0;text-align:center;">
	<div class="btn-group">
        <button class="btn btn-default btn-xs" ng-class="" ng-click="suggested.remove(card)">X</button>
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==1}" ng-click="deck.change(card,1)">1</button>
	</div>
      </td>
      <td class="c{{card.sphere}}">{{card.name}}</td></li>
    <tr class="head" ng-show="suggested.countAllies()"><td></td><td>Allies</td></tr>
    <tr class="card" ng-repeat="card in suggested['2ally'] | orderBy:['sphere','name_norm']" ng-mouseover="changepreview(card)">
      <td style="font-size:0;">
	<div class="btn-group">
        <button class="btn btn-default btn-xs" ng-class="" ng-click="suggested.remove(card)">X</button>
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==1}" ng-click="deck.change(card,1)">1</button>
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==2}" ng-click="deck.change(card,2)" ng-hide="card.restrict || (suggested.filtersettings.onecore && card.corequantity < 2 && deck.quantity(card)<2 )">2</button>
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==3}" ng-click="deck.change(card,3)" ng-hide="card.restrict || (suggested.filtersettings.onecore && card.corequantity < 3 && deck.quantity(card)<3 ) || (suggested.filtersettings.twocore && card.corequantity < 2 && deck.quantity(card) < 3)">3</button>
	</div>
      </td>
      <td class="c{{card.sphere}}">{{card.name}}</td></li>
    <tr class="head" ng-show="suggested.countAttachments()"><td></td><td>Attachments</td></tr>
    <tr class="card" ng-repeat="card in suggested['3attachment'] | orderBy:['sphere','name_norm']" ng-mouseover="changepreview(card)">
      <td style="font-size:0;">
	<div class="btn-group">
        <button class="btn btn-default btn-xs" ng-class="" ng-click="suggested.remove(card)">X</button>
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==1}" ng-click="deck.change(card,1)">1</button>
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==2}" ng-click="deck.change(card,2)" ng-hide="card.restrict || (suggested.filtersettings.onecore && card.corequantity < 2 && deck.quantity(card)<2 )">2</button>
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==3}" ng-click="deck.change(card,3)" ng-hide="card.restrict || (suggested.filtersettings.onecore && card.corequantity < 3 && deck.quantity(card)<3 ) || (suggested.filtersettings.twocore && card.corequantity < 2 && deck.quantity(card) < 3)">3</button>
	</div>
      </td>
      <td class="c{{card.sphere}}">{{card.name}}</td></li>
    <tr class="head" ng-show="suggested.countEvents()"><td></td><td>Events</td></tr>
    <tr class="card" ng-repeat="card in suggested['4event'] | orderBy:['sphere','name_norm']" ng-mouseover="changepreview(card)">
      <td style="font-size:0;">
	<div class="btn-group">
        <button class="btn btn-default btn-xs" ng-class="" ng-click="suggested.remove(card)">X</button>
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==1}" ng-click="deck.change(card,1)">1</button>
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==2}" ng-click="deck.change(card,2)" ng-hide="card.restrict || (suggested.filtersettings.onecore && card.corequantity < 2 && deck.quantity(card)<2 )">2</button>
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==3}" ng-click="deck.change(card,3)" ng-hide="card.restrict || (suggested.filtersettings.onecore && card.corequantity < 3 && deck.quantity(card)<3 ) || (suggested.filtersettings.twocore && card.corequantity < 2 && deck.quantity(card) < 3)">3</button>
	</div>
      </td>
      <td class="c{{card.sphere}}">{{card.name}}</td></tr>
    <tr class="head" ng-show="suggested.countQuests()"><td></td><td>Quests</td></tr>
    <tr class="card" ng-repeat="card in suggested['5quest'] | orderBy:['sphere','name_norm']" ng-mouseover="changepreview(card)">
      <td style="font-size:0;">
	<div class="btn-group">
        <button class="btn btn-default btn-xs" ng-class="" ng-click="suggested.remove(card)">X</button>
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==1}" ng-click="deck.change(card,1)">1</button>
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==2}" ng-click="deck.change(card,2)" ng-hide="card.restrict || (suggested.filtersettings.onecore && card.corequantity < 2 && deck.quantity(card)<2 )">2</button>
        <button class="btn btn-default btn-xs" ng-class="{active: deck.quantity(card)==3}" ng-click="deck.change(card,3)" ng-hide="card.restrict || (suggested.filtersettings.onecore && card.corequantity < 3 && deck.quantity(card)<3 ) || (suggested.filtersettings.twocore && card.corequantity < 2 && deck.quantity(card) < 3)">3</button>
	</div>
      </td>
      <td class="c{{card.sphere}}">{{card.name}}</td></tr>
  </table>

</div>
</div>
