<select ng-model="cards.filtersettings.search.categories" style="width:48%;margin-bottom:5px;">
  <option value="">Search by category</option>
  <option value="Attack Bonus">Attack Bonus</option>
  <option value="Card Draw">Card Draw</option>
  <option value="Card Search">Card Search</option>
  <option value="Combat Control">Combat Control</option>
  <option value="Condition Control">Condition Control</option>
  <option value="Defense Bonus">Defense Bonus</option>
  <option value="Direct Damage">Direct Damage</option>
  <option value="Discard from Hand">Discard from Hand</option>
  <option value="Discard Pile">Discard Pile</option>
  <option value="Encounter Control">Encounter Control</option>
  <option value="Encounter Scrying">Encounter Scrying</option>
  <option value="Healing">Healing</option>
  <option value="Hit Point Bonus">Hit Point Bonus</option>
  <option value="Leaves Play">Leaves Play</option>
  <option value="Location Control">Location Control</option>
  <option value="Mustering">Mustering</option>
  <option value="Player Deck Scrying">Player Deck Scrying</option>
  <option value="Quest Action">Quest Action</option>
  <option value="Readying">Readying</option>
  <option value="Recursion">Recursion</option>
  <option value="Resource Acceleration">Resource Acceleration</option>
  <option value="Resource Smoothing">Resource Smoothing</option>
  <option value="Secrecy">Secrecy</option>
  <option value="Shadow Control">Shadow Control</option>
  <option value="Staging Area Attack">Staging Area Attack</option>
  <option value="Staging Area Control">Staging Area Control</option>
  <option value="Surprise">Surprise</option>
  <option value="Threat Control">Threat Control</option>
  <option value="Valour">Valour</option>
  <option value="Victory Display">Victory Display</option>
  <option value="Willpower Bonus">Willpower Bonus</option>
</select>
