<div class="conter-wrapper ng-scope" ng-animate="'animate'" ng-controller="communityCtrl">
  <div class="panel panel-primary" style="float:left;width:60%">
    <div class="panel-heading">
      <h3 class="panel-title">Deck Search</h3> </div>
    <div class="panel-body">
      <div><label for="deckName">Deck Name Contains</label></div>
      <div><input class="form-control underline" id="deckName" type="text" ng-model="formDataDeckSearch.deckName"></input></div>
      <div><label for="userName">User Name Contains</label></div>
      <div><input class="form-control underline" id="userName" type="text" ng-model="formDataDeckSearch.userName"></input></div>
      <div><label for="selectQuest">Completed Quest</label>
	<questchoice></questchoice>
      </div>
      <br>
      <div> <input type="checkbox" id="lessThanFifty" class="col-sm-2 control-label" ng-model="formDataDeckSearch.lessThanFifty">Include decks with less than 50 cards</input></div>
      <br>
      <div> <input type="checkbox" id="includesCard" class="col-sm-2 control-label" ng-model="formDataDeckSearch.cardMatch" ng-disabled="!image.card.no">Deck includes the card currently in the Card Preview</input></div>
      <br>
      <div> <input type="checkbox" id="usesSets" class="col-sm-2 control-label" ng-model="formDataDeckSearch.setMatch">Deck only uses cards from <a ng-href="#/deck/sets">sets</a> I've selected</input></div>
      <br>
      <div>
	<button ng-click="submit()" class="btn btn-primary" ng-disabled="searching">Search Decks</button>
	<label ng-show="searching">Searching decks...</label>
      </div>
    </div>
  </div>

  <div class="panel panel-warning" style="float:right;width:37%">
    <div class="panel-heading">
      <h3 class="panel-title">Deck Stats (updated weekly)</h3>
      <button ng-click="getStats()" class="btn btn-warning btn-rounded btn-outline" ng-hide="databaseStats.gotStats">Get Stats</button>
      <button ng-click="genStats()" class="btn btn-warning btn-rounded btn-outline" ng-show="user.admin">Generate Stats</button>
    </div>
    <div class="panel-body" ng-show="databaseStats.statsCardObject">
      
      <table>
	<thead>
	  <tr>
	    <th>Card</th>
	    <th>% of Decks</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="card in databaseStats.statsCardObject | orderBy:'-deckPercentage'" class="card" ng-mouseover="changepreview(card)">
            <td class="c{{card.sphere}}" style=";width:50%;">
              <!-- <img class="unique" src="images/unique.png" ng-show="card.unique"/> -->
              {{card.name}}
	    </td>
            <!-- <td style=";width:25%;text-align:center"><img src="images/spheres/{{card.sphere}}.png"/></td> -->
            <td style=";width:25%;">{{card.deckPercentage}}</td>
	  </tr>
	</tbody>
      </table>


    </div>
  </div>





  <div class="panel panel-primary" style="float:left;width:60%">
    <div class="panel-heading">
      <h3 class="panel-title">Search Results</h3>
    </div>
    <div class="panel-body">
      <table class="table mydecktable">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Heroes</th>
	    <th>Author</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="deck in formDataDeckSearch.searchResultsArray | orderBy:'-dateUTC'">
	    <td style="padding-left:10px;">
	      <a ng-href="#/deck/id:{{deck.deckid}}" style="font-weight:bold;">{{deck.deckname}}</a>
	      <div style="font-size:9px;padding-left:10px;">{{deck.dateUTC|date:'medium'}}</div>
	    </td>
	    <td>
	      <table >
		<td ng-repeat="card in deck.heroes | limitTo:4" ng-mouseover="changepreview(card)" class="c{{card.sphere}}" style="padding-right:10px;">{{card.name}}</td>
	      </table>
	    </td>
	    <td>
	      <div>{{deck.username}}</div>
	    </td>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>


</div>
