<div ng-controller="deckViewCtrl as dv" ng-show="deckLoaded">
  <btn class="pull-right btn btn-primary btn-outline btn-rounded" ng-click="loadDeck()">Modify Deck</btn>
  <btn class="pull-right btn btn-primary btn-outline btn-rounded" ng-click="exportOctgn()">Export to OCTGN</btn>
  <btn class="pull-right btn btn-primary btn-outline btn-rounded" ng-click="exportText()">Export to Text</btn>
  <div>
    <h2>{{deckObject.deckname}} <small>by </small><small style="font-weight:bold">{{deckObject.username}}</small>
      <br>
      <div style="font-size:20px;">
	<small>Deck ID: {{deckObject.deckid}}</small>
	<br>
	<small ng-show="deckObject.parentid" >Modified from: <a ng-href="#/deck/id:{{deckObject.parentid}}">{{deckObject.parentid}}</a></small>
	</br>
      </div>
      </br>
    </h2>
  </div>
  <!-- <span class="glyphicon glyphicon-dashboard bg-fade"></span> -->

  <div class=jumbotron style="left:1%;width:30%;top:100px;position:absolute">
    <div class=container>
      <!-- <div class="deckdiv" style="width:25%;left:1%;top:15%;height:85%"> -->
      <div>
	<table class="deck">
	  <tr class="head"><td style="width:20px"></td><td>Heroes (Starting threat: {{viewDeck.startingThreat()}})</td></tr>
	  
	  <tr class="card" ng-repeat="card in viewDeck['1hero'] | orderBy:['sphere','name_norm']" ng-mouseover="changepreview(card)">
	    <td style="font-size:14;" ng-class="{noAccess: !hasAccess(card)}">
	      1
	    </td>
	    <td class="c{{card.sphere}}">{{card.name}}</td>
	  <tr><td bgcolor="transparent" colspan=2>&nbsp;</td></tr>
	  <tr class="head"><td></td><td>Total ({{viewDeck.countTotal()}})</td></tr>
	  <tr class="head"><td></td><td>Allies ({{viewDeck.countAllies()}})</td></tr>
	  <tr class="card" ng-repeat="card in viewDeck['2ally'] | orderBy:['sphere','name_norm']" ng-mouseover="changepreview(card)">
	    <td style="font-size:14" ng-class="{noAccess: !hasAccess(card)}">
	      {{card.quantity}}
	    </td>
	    <td class="c{{card.sphere}}">{{card.name}}</td>
	  <tr><td bgcolor="transparent" colspan=2>&nbsp;</td></tr>
	  <tr class="head"><td></td><td>Attachments ({{viewDeck.countAttachments()}})</td></tr>
	  <tr class="card" ng-repeat="card in viewDeck['3attachment'] | orderBy:['sphere','name_norm']" ng-mouseover="changepreview(card)">
	    <td style="font-size:14" ng-class="{noAccess: !hasAccess(card)}">
	      {{card.quantity}}
	    </td>
	    <td class="c{{card.sphere}}">{{card.name}}</td>
	  <tr><td bgcolor="transparent" colspan=2>&nbsp;</td></tr>
	  <tr class="head"><td></td><td>Events ({{viewDeck.countEvents()}})</td></tr>
	  <tr class="card" ng-repeat="card in viewDeck['4event'] | orderBy:['sphere','name_norm']" ng-mouseover="changepreview(card)">
	    <td style="font-size:14" ng-class="{noAccess: !hasAccess(card)}">
	      {{card.quantity}}
	    </td>
	    <td class="c{{card.sphere}}">{{card.name}}</td></tr>
	  <tr><td bgcolor="transparent" colspan=2>&nbsp;</td></tr>
	  <tr class="head"><td></td><td>Quests ({{viewDeck.countQuests()}})</td></tr>
	  <tr class="card" ng-repeat="card in viewDeck['5quest'] | orderBy:['sphere','name_norm']" ng-mouseover="changepreview(card)">
	    <td style="font-size:14" ng-class="{noAccess: !hasAccess(card)}">
	      {{card.quantity}}
	    </td>
	    <td class="c{{card.sphere}}">{{card.name}}</td></tr>
	</table>
      </div>
    </div>
  </div>

  <div class=jumbotron ng-show="deckLogsArray.length" style="left:32%;width:30%;top:100px;position:absolute">
    <div class=container>
	  <div ng-repeat="log in deckLogsArray | orderBy:'-date'">
	    <h4>{{log.quest}}</h4>
	    <div style="padding-left:10px;"><b>User:</b> {{log.username}}</div>
	    <div style="padding-left:10px;"><b>Date:</b> {{log.date}}</div>
	    <div style="padding-left:10px;"><b>Outcome:</b> {{log.outcome}}</div>
	    <div style="padding-left:10px;"><b>Score:</b> {{log.score}}</div>
	    <div style="padding-left:10px;"><b>Decks:</b></div>
	    <div style="padding-left:30px;" ng-repeat="deckid in log.deckids">{{$index +1}}. <a ng-href="#/deck/id:{{deckid}}">{{deckid}}</a></div>
	    <div style="padding-left:10px;"><b>Notes:</b> {{log.notes}}</div>
	  </div>
	</div>
  </div>
  <div class=jumbotron ng-show="deckModsArray.length" style="left:63%;width:30%;top:100px;position:absolute">
    <div class=container>
      <h4>Modifications</h4>
      <table class="table mydecktable">
	<thead>
	  <tr>
	    <th>Author</th>
	    <th>Deck ID</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="d in deckModsArray | orderBy:'-date'">
	    <td>
	      {{d.username}}
	    </td>
	    <td>
	      <a ng-href="#/deck/id:{{d.deckid}}">{{d.deckid}}</a>
	    </td>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>
  
</div>
