<div ng-controller="myDecksCtrl as mydecks">
  <div style="width:100%">
    <b style="color:red;font-size:20px">Important: The Deck Cloud Storage is in beta. Your decks will get deleted without notice. Be sure to download any decks you make to your computer to preserve them. </b>
    <br><br>
    <label class="btn btn-success" style="width:250px;"><div class="upload">Upload an OCTGN Deck</div><input name="upload" type="file" style="display:none;" onchange="angular.element(this).scope().mydecks.uploadDeck(event)" accept=".o8d"></input></label>
    <br><br>
    <!-- <div class="col-md-6" style="width:100%"> -->
    <div class="panel panel-primary" style="width:100%">
      <div class="panel-heading">
	<h3 class="panel-title">My Decks</h3>
      </div>
      <div class="panel-body">
	<div class="btn-group btn-group-justified" role="group">
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-primary btn-outline btn-rounded" ng-click="mydecks.loadInfoPage(mydecks.getSelected())">Load Info Page</button>
	  </div>
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-primary btn-outline btn-rounded" ng-click="mydecks.loadDeck(mydecks.getSelected())">Load into Builder</button>
	  </div>
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-primary btn-outline btn-rounded" ng-click="mydecks.exportText(mydecks.getSelected())">Export to Text</button>
	  </div>
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-primary btn-outline btn-rounded" ng-click="mydecks.exportOctgn(mydecks.getSelected())">Export to OCTGN</button>
	  </div>
	  <!-- <div class="btn-group" role="group"> -->
	  <!--   <button type="button" class="btn btn-danger" ng-click="mydecks.deleteDeck(mydecks.getSelected())">Delete Deck</button> -->
	  <!-- </div> -->
	</div>
	<table class="table mydecktable">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Heroes</th>
	      <th>Deck ID</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="deck in mydecks.myDecksArray | orderBy:'-dateUTC'" ng-click="mydecks.setSelected(deck)" ng-class="{selected : deck === mydecks.selectedDeck}">
	      <td style="padding-left:10px;">
		<!-- <div style="font-weight:bold;">Deck</div> -->
		<!-- 					<div style="font-weight:bold;">{{deck}}</div>
							<div style="font-weight:bold;">{{deck.$id}}</div> -->
		<div style="font-weight:bold;">{{deck.deckname}}</div>
		<div style="font-size:9px;padding-left:10px;">{{deck.dateUTC|date:'medium'}}</div>
	      </td>
	      <td>
		<table >
		  <td ng-repeat="card in mydecks.getHeroes(deck.deckstring)" ng-mouseover="mydecks.changepreview(card)" class="c{{card.sphere}}" style="padding-right:10px;">{{card.name}}</td>
		</table>
	      </td>
	      <td>
		{{deck.deckid}}
	      </td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
