<select class="form-control" id="selectQuest" ng-model="selectedQuest" ng-change="setSelectedQuest()"> 
<option value=""></option>
<option value="Passage Through Mirkwood">Passage Through Mirkwood</option>
<option value="Journey Along the Anduin">Journey Along the Anduin</option>
<option value="Escape from Dol Guldur">Escape from Dol Guldur</option>
<option value="The Hunt for Gollum">The Hunt for Gollum</option>
<option value="Conflict at the Carrock">Conflict at the Carrock</option>
<option value="A Journey to Rhosgobel">A Journey to Rhosgobel</option>
<option value="The Hills of Emyn Muil">The Hills of Emyn Muil</option>
<option value="The Dead Marshes">The Dead Marshes</option>
<option value="Return to Mirkwood">Return to Mirkwood</option>
<option disabled="disabled" value="————————————————————">————————————————————</option>
<option value="Into the Pit">Into the Pit</option>
<option value="The Seventh Level">The Seventh Level</option>
<option value="Flight from Moria">Flight from Moria</option>
<option value="The Redhorn Gate">The Redhorn Gate</option>
<option value="Road to Rivendell">Road to Rivendell</option>
<option value="The Watcher in the Water">The Watcher in the Water</option>
<option value="The Long Dark">The Long Dark</option>
<option value="Foundations of Stone">Foundations of Stone</option>
<option value="Shadow and Flame">Shadow and Flame</option>
<option disabled="disabled" value="————————————————————">————————————————————</option>
<option value="Peril in Pelargir">Peril in Pelargir</option>
<option value="Into Ithilien">Into Ithilien</option>
<option value="The Siege of Cair Andros">The Siege of Cair Andros</option>
<option value="The Steward&#39;s Fear">The Steward&#39;s Fear</option>
<option value="The Dr&#250;adan Forest">The Dr&#250;adan Forest</option>
<option value="Encounter at Amon D&#238;n">Encounter at Amon D&#238;n</option>
<option value="Assault on Osgiliath">Assault on Osgiliath</option>
<option value="The Blood of Gondor">The Blood of Gondor</option>
<option value="The Morgul Vale">The Morgul Vale</option>
<option disabled="disabled" value="————————————————————">————————————————————</option>
<option value="The Fords of Isen">The Fords of Isen</option>
<option value="To Catch an Orc">To Catch an Orc</option>
<option value="Into Fangorn">Into Fangorn</option>
<option value="The Dunland Trap">The Dunland Trap</option>
<option value="The Three Trials">The Three Trials</option>
<option value="Trouble in Tharbad">Trouble in Tharbad</option>
<option value="The N&#238;n-in-Eilph">The N&#238;n-in-Eilph</option>
<option value="Celebrimbor&#39;s Secret">Celebrimbor&#39;s Secret</option>
<option value="The Antlered Crown">The Antlered Crown</option>
<option disabled="disabled" value="————————————————————">————————————————————</option>
<option value="Intruders in Chetwood">Intruders in Chetwood</option>
<option value="The Weather Hills">The Weather Hills</option>
<option value="Deadmen&#39;s Dike">Deadmen&#39;s Dike</option>
<option value="The Wastes of Eriador">The Wastes of Eriador</option>
<option value="Escape from Mount Gram">Escape from Mount Gram</option>
<option value="Across the Ettenmoors">Across the Ettenmoors</option>
<option value="The Treachery of Rhudaur">The Treachery of Rhudaur</option>
<option value="The Battle of Carn D&#251;m">The Battle of Carn D&#251;m</option>
<option value="The Dread Realm">The Dread Realm</option>
<option disabled="disabled" value="————————————————————">————————————————————</option>
<option value="Voyage Across Belegaer">Voyage Across Belegaer</option>
<option value="The Fate of N&#250;menor">The Fate of N&#250;menor</option>
<option value="Raid on the Grey Havens">Raid on the Grey Havens</option>
<option disabled="disabled" value="————————————————————">————————————————————</option>
<option value="We Must Away, Ere Break of Day">We Must Away, Ere Break of Day</option>
<option value="Over the Misty Mountains Grim">Over the Misty Mountains Grim</option>
<option value="Dungeons Deep and Caverns Dim">Dungeons Deep and Caverns Dim</option>
<option value="Flies and Spiders">Flies and Spiders</option>
<option value="The Lonely Mountain">The Lonely Mountain</option>
<option value="The Battle of Five Armies">The Battle of Five Armies</option>
<option disabled="disabled" value="————————————————————">————————————————————</option>
<option value="A Shadow of the Past">A Shadow of the Past</option>
<option value="A Knife in the Dark">A Knife in the Dark</option>
<option value="Flight to the Ford">Flight to the Ford</option>
<option value="The Ring Goes South">The Ring Goes South</option>
<option value="Journey in the Dark">Journey in the Dark</option>
<option value="Breaking of the Fellowship">Breaking of the Fellowship</option>
<option value="The Uruk-hai">The Uruk-hai</option>
<option value="Helm&#39;s Deep">Helm&#39;s Deep</option>
<option value="The Road to Isengard">The Road to Isengard</option>
<option value="The Passage of the Marshes">The Passage of the Marshes</option>
<option value="Journey to the Cross-roads">Journey to the Cross-roads</option>
<option value="Shelob&#39;s Lair">Shelob&#39;s Lair</option>
<option disabled="disabled" value="————————————————————">————————————————————</option>
<option value="The Massing at Osgiliath">The Massing at Osgiliath</option>
<option value="The Battle of Lake-town">The Battle of Lake-town</option>
<option value="The Stone of Erech">The Stone of Erech</option>
<option value="The Old Forest">The Old Forest</option>
<option value="Fog on the Barrow-downs">Fog on the Barrow-downs</option>
<option value="The Ruins of Belegost">The Ruins of Belegost</option>
<option value="Murder at the Prancing Pony">Murder at the Prancing Pony</option>
<option disabled="disabled" value="————————————————————">————————————————————</option>
<option value="Nightmare Passage Through Mirkwood">Nightmare Passage Through Mirkwood</option>
<option value="Nightmare Journey Along the Anduin">Nightmare Journey Along the Anduin</option>
<option value="Nightmare Escape From Dol Guldur">Nightmare Escape From Dol Guldur</option>
<option value="Nightmare The Hunt for Gollum">Nightmare The Hunt for Gollum</option>
<option value="Nightmare Conflict at the Carrock">Nightmare Conflict at the Carrock</option>
<option value="Nightmare A Journey to Rhosgobel">Nightmare A Journey to Rhosgobel</option>
<option value="Nightmare The Hills of Emyn Muil">Nightmare The Hills of Emyn Muil</option>
<option value="Nightmare The Dead Marshes">Nightmare The Dead Marshes</option>
<option value="Nightmare Return to Mirkwood">Nightmare Return to Mirkwood</option>
<option disabled="disabled" value="————————————————————">————————————————————</option>
<option value="Nightmare Into the Pit">Nightmare Into the Pit</option>
<option value="Nightmare The Seventh Level">Nightmare The Seventh Level</option>
<option value="Nightmare Flight from Moria">Nightmare Flight from Moria</option>
<option value="Nightmare The Redhorn Gate">Nightmare The Redhorn Gate</option>
<option value="Nightmare Road to Rivendell">Nightmare Road to Rivendell</option>
<option value="Nightmare The Watcher in the Water">Nightmare The Watcher in the Water</option>
<option value="Nightmare The Long Dark">Nightmare The Long Dark</option>
<option value="Nightmare Foundations of Stone">Nightmare Foundations of Stone</option>
<option value="Nightmare Shadow and Flame">Nightmare Shadow and Flame</option>
<option disabled="disabled" value="————————————————————">————————————————————</option>
<option value="Nightmare Peril in Pelargir">Nightmare Peril in Pelargir</option>
<option value="Nightmare Into Ithilien">Nightmare Into Ithilien</option>
<option value="Nightmare The Siege of Cair Andros">Nightmare The Siege of Cair Andros</option>
<option value="Nightmare The Steward&#39;s Fear">Nightmare The Steward&#39;s Fear</option>
<option value="Nightmare The Dr&#250;adan Forest">Nightmare The Dr&#250;adan Forest</option>
<option value="Nightmare Encounter at Amon D&#238;n">Nightmare Encounter at Amon D&#238;n</option>
<option value="Nightmare Assault on Osgiliath">Nightmare Assault on Osgiliath</option>
<option value="Nightmare The Blood of Gondor">Nightmare The Blood of Gondor</option>
<option value="Nightmare The Morgul Vale">Nightmare The Morgul Vale</option>
<option disabled="disabled" value="————————————————————">————————————————————</option>
<option value="Nightmare The Fords of Isen">Nightmare The Fords of Isen</option>
<option value="Nightmare To Catch an Orc">Nightmare To Catch an Orc</option>
<option value="Nightmare Into Fangorn">Nightmare Into Fangorn</option>
<option value="Nightmare The Dunland Trap">Nightmare The Dunland Trap</option>
<option value="Nightmare The Three Trials">Nightmare The Three Trials</option>
<option value="Nightmare Trouble in Tharbad">Nightmare Trouble in Tharbad</option>
<option value="Nightmare We Must Away, Ere Break of Day">Nightmare We Must Away, Ere Break of Day</option>
<option value="Nightmare Over the Misty Mountains Grim">Nightmare Over the Misty Mountains Grim</option>
<option value="Nightmare Dungeons Deep and Caverns Dim">Nightmare Dungeons Deep and Caverns Dim</option>
<option value="Nightmare Flies and Spiders">Nightmare Flies and Spiders</option>
<option value="Nightmare The Lonely Mountain">Nightmare The Lonely Mountain</option>
<option value="Nightmare The Battle of Five Armies">Nightmare The Battle of Five Armies</option>
<option value="Nightmare A Shadow of the Past">Nightmare A Shadow of the Past</option>
<option value="Nightmare A Knife in the Dark">Nightmare A Knife in the Dark</option>
<option value="Nightmare Flight to the Ford">Nightmare Flight to the Ford</option>
</select>
