<div ng-controller="setsCtrl as sets">
  <!-- <div class="btn-group btn-group-justified" role="group"> -->
  <!--   <div class="btn-group" role="group"> -->
  <!-- 	<button type="button" class="btn btn-primary btn-lg btn-outline" ng-click=""></button> -->
  <!--   </div> -->
  <!--   <div class="btn-group" role="group"> -->
  <!-- 	<button type="button" class="btn btn-primary btn-lg btn-outline" ng-click=""></button> -->
  <!--   </div> -->
  <!--   <div class="btn-group" role="group"> -->
  <!-- 	<button type="button" class="btn btn-primary btn-lg btn-outline" ng-click=""></button> -->
  <!--   </div> -->
  <!--   <div class="btn-group" role="group"> -->
  <!-- 	<button type="button" class="btn btn-primary btn-lg btn-outline" ng-click=""></button> -->
  <!--   </div> -->
  <!-- </div> -->
  <div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary btn-lg btn-outline packbutton" ng-click="sets.toggleonecore()" ng-class="{selected: sets.filtersettings.onecore}">Limit to 1 Core Set<i class="fa fa-download"></i></button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary btn-lg btn-outline packbutton" ng-click="sets.toggletwocore()" ng-class="{selected: sets.filtersettings.twocore}">Limit to 2 Core Sets</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary btn-lg btn-outline packbutton" ng-click="sets.selectAll()">Select All</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary btn-lg btn-outline packbutton" ng-click="sets.selectNone()">Select None</button>
    </div>
  </div>

  <table  style="width:100%;font-size:12px;white-space: normal;border-collapse:collapse;table-layout: fixed;">
    <tbody>
      <tr>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('core')>=0}" ng-click="sets.toggle('core')">Core Set</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('kd')>=0}" ng-click="sets.toggle('kd')">Khazad-Dûm</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('hon')>=0}" ng-click="sets.toggle('hon')">Heirs of Númenor</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('voi')>=0}" ng-click="sets.toggle('voi')">The Voice of Isengard</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tlr')>=0}" ng-click="sets.toggle('tlr')">The Lost Realm</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('thohauh')>=0}" ng-click="sets.toggle('thohauh')">Over Hill and Under Hill</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tgh')>=0}" ng-click="sets.toggle('tgh')">The Grey Havens</button></td>
      </tr>
      <tr>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('thfg')>=0}" ng-click="sets.toggle('thfg')">The Hunt for Gollum</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('trg')>=0}" ng-click="sets.toggle('trg')">The Redhorn Gate</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tsf')>=0}" ng-click="sets.toggle('tsf')">The Steward's Fear</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tdt')>=0}" ng-click="sets.toggle('tdt')">The Dunland Trap</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('twoe')>=0}" ng-click="sets.toggle('twoe')">The Wastes of Eriador</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('thotd')>=0}" ng-click="sets.toggle('thotd')">On the Doorstep</button></td>
      </tr>
      <tr>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('catc')>=0}" ng-click="sets.toggle('catc')">Conflict at the Carrock</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('rtr')>=0}" ng-click="sets.toggle('rtr')">Road to Rivendell</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tdf')>=0}" ng-click="sets.toggle('tdf')">The Drúadan Forest</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('ttt')>=0}" ng-click="sets.toggle('ttt')">The Three Trials</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('efmg')>=0}" ng-click="sets.toggle('efmg')">Escape from Mount Gram</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tbr')>=0}" ng-click="sets.toggle('tbr')">The Black Riders</button></td>
      </tr>
      <tr>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('ajtr')>=0}" ng-click="sets.toggle('ajtr')">A Journey to Rhosgobel</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('twitw')>=0}" ng-click="sets.toggle('twitw')">The Watcher in the Water</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('eaad')>=0}" ng-click="sets.toggle('eaad')">Encounter at Amon Dîn</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tit')>=0}" ng-click="sets.toggle('tit')">Trouble in Tharbad</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('ate')>=0}" ng-click="sets.toggle('ate')">Across the Ettenmoors</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('rd')>=0}" ng-click="sets.toggle('rd')">The Road Darkens</button></td>
      </tr>
      <tr>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('thoem')>=0}" ng-click="sets.toggle('thoem')">The Hills of Emyn Muil</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tld')>=0}" ng-click="sets.toggle('tld')">The Long Dark</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('aoo')>=0}" ng-click="sets.toggle('aoo')">Assault on Osgiliath</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('nie')>=0}" ng-click="sets.toggle('nie')">The Nin-in-Eilph</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('ttor')>=0}" ng-click="sets.toggle('ttor')">The Treachery of Rhudaur</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tos')>=0}" ng-click="sets.toggle('tos')">The Treason of Saruman</button></td>
      </tr>
      <tr>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tdm')>=0}" ng-click="sets.toggle('tdm')">The Dead Marshes</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('fos')>=0}" ng-click="sets.toggle('fos')">Foundations of Stone</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tbog')>=0}" ng-click="sets.toggle('tbog')">The Blood of Gondor</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('cs')>=0}" ng-click="sets.toggle('cs')">Celebrimbor's Secret</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tbocd')>=0}" ng-click="sets.toggle('tbocd')">The Battle of Carn Dûm</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tlos')>=0}" ng-click="sets.toggle('tlos')">The Land of Shadow</button></td>
      </tr>
      <tr>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('rtm')>=0}" ng-click="sets.toggle('rtm')">Return to Mirkwood</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('saf')>=0}" ng-click="sets.toggle('saf')">Shadow and Flame</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tmv')>=0}" ng-click="sets.toggle('tmv')">The Morgul Vale</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tac')>=0}" ng-click="sets.toggle('tac')">The Antlered Crown</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tdr')>=0}" ng-click="sets.toggle('tdr')">The Dread Realm</button></td>
        <td><button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tfotw')>=0}" ng-click="sets.toggle('tfotw')" disabled>The Flame of the West</button></td>
      </tr>
    </tbody>
  </table>
  <br><br><br>
  <h2>Release Order:</h2>
  <div style="width:200px">
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('core')>=0}" ng-click="sets.toggle('core')">	Core	<br>	2011-04-20	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('thfg')>=0}" ng-click="sets.toggle('thfg')">	The Hunt for Gollum	<br>	2011-07-21	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('catc')>=0}" ng-click="sets.toggle('catc')">	Conflict at the Carraock	<br>	2011-08-10	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('ajtr')>=0}" ng-click="sets.toggle('ajtr')">	A Journey to Rhosgobel	<br>	2011-09-01	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	The Massing at Osgiliath	<br>	2011-09-21	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('thoem')>=0}" ng-click="sets.toggle('thoem')">	The Hills of Emyn Muil	<br>	2011-09-30	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tdm')>=0}" ng-click="sets.toggle('tdm')">	The Dead Marshes	<br>	2011-11-02	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('rtm')>=0}" ng-click="sets.toggle('rtm')">	Return to Mirkwood	<br>	2011-11-23	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('kd')>=0}" ng-click="sets.toggle('kd')">	Khazad-dum	<br>	2012-01-06	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('trg')>=0}" ng-click="sets.toggle('trg')">	The Redhorn Gate	<br>	2012-03-01	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('rtr')>=0}" ng-click="sets.toggle('rtr')">	Road to Rivendell	<br>	2012-03-21	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('twitw')>=0}" ng-click="sets.toggle('twitw')">	The Watcher in the Water	<br>	2012-04-25	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tld')>=0}" ng-click="sets.toggle('tld')">	The Long Dark	<br>	2012-05-16	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('fos')>=0}" ng-click="sets.toggle('fos')">	Foundations of Stone	<br>	2012-06-20	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('saf')>=0}" ng-click="sets.toggle('saf')">	Shadow and Flame	<br>	2012-08-08	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('thohauh')>=0}" ng-click="sets.toggle('thohauh')">	Over Hill and Under Hill	<br>	2012-08-17	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	The Battle of Lake-town	<br>	2012-10-16	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('hon')>=0}" ng-click="sets.toggle('hon')">	Heirs of Numenor	<br>	2012-11-26	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('thotd')>=0}" ng-click="sets.toggle('thotd')">	On the Doorstep	<br>	2013-02-22	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tsf')>=0}" ng-click="sets.toggle('tsf')">	The Steward's Fear	<br>	2013-05-09	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tdf')>=0}" ng-click="sets.toggle('tdf')">	The Druadan Forest	<br>	2013-05-31	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('eaad')>=0}" ng-click="sets.toggle('eaad')">	Encounter at Amon Din	<br>	2013-07-05	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM Passage Through Mirkwood	<br>	2013-08-01	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM Journey Along the Anduin	<br>	2013-08-01	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM Escape from Dol Guldur	<br>	2013-08-01	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('aoo')>=0}" ng-click="sets.toggle('aoo')">	Assault on Osgiliath	<br>	2013-08-09	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tbr')>=0}" ng-click="sets.toggle('tbr')">	The Black Riders	<br>	2013-09-20	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tbog')>=0}" ng-click="sets.toggle('tbog')">	The Blood of Gondor	<br>	2013-10-17	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	The Stone of Erech	<br>	2013-10-30	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tmv')>=0}" ng-click="sets.toggle('tmv')">	The Morgul Vale	<br>	2013-11-15	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM The Hunt for Gollum	<br>	2013-12-30	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM Conflict at the Carrock	<br>	2013-12-30	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM A Journey to Rhosgobel	<br>	2013-12-30	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('voi')>=0}" ng-click="sets.toggle('voi')">	The Voice of Isengard	<br>	2014-02-21	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM The Hills of Emyn Muil	<br>	2014-04-16	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM The Dead Marshes	<br>	2014-04-16	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM Return to Mirkwood	<br>	2014-04-16	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM Khazad dum	<br>	2014-06-02	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tdt')>=0}" ng-click="sets.toggle('tdt')">	The Dunland Trap	<br>	2014-06-26	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM Over Hill and Under Hill	<br>	2014-07-22	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('ttt')>=0}" ng-click="sets.toggle('ttt')">	The Three Trials	<br>	2014-07-24	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tit')>=0}" ng-click="sets.toggle('tit')">	Trouble in Tharbad	<br>	2014-08-21	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM The Redhorn Gate	<br>	2014-08-27	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM Road to Rivendell	<br>	2014-08-27	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM The Watcher in the Water	<br>	2014-08-27	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM The Long Dark	<br>	2014-09-18	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM Foundations of Stone	<br>	2014-09-18	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM Shadow and Flame	<br>	2014-09-18	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('rd')>=0}" ng-click="sets.toggle('rd')">	The Road Darkens	<br>	2014-10-03	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('nie')>=0}" ng-click="sets.toggle('nie')">	The Nin-in-Eilph	<br>	2014-10-23	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM Heirs of Numenor	<br>	2014-10-31	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	The Old Forest	<br>	2014-11-11	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('cs')>=0}" ng-click="sets.toggle('cs')">	Celebrimbor's Secret	<br>	2014-11-13	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM On the Doorstep	<br>	2014-12-18	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tac')>=0}" ng-click="sets.toggle('tac')">	The Antlered Crown	<br>	2014-12-23	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	Fog on the Barrow-downs	<br>	2015-01-15	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM The Steward's Fear	<br>	2015-02-12	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM The Druadan Forest	<br>	2015-02-12	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM Encounter at Amon Din	<br>	2015-02-12	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM Assault on Osgiliath	<br>	2015-03-19	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM The Blood of Gondor	<br>	2015-03-19	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tlr')>=0}" ng-click="sets.toggle('tlr')">	NM The Morgul Vale	<br>	2015-03-19	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	The Lost Realm	<br>	2015-04-03	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM The Black Riders	<br>	2015-04-10	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tos')>=0}" ng-click="sets.toggle('tos')">	The Treason of Saruman	<br>	2015-04-23	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('twoe')>=0}" ng-click="sets.toggle('twoe')">	The Wastes of Eriador	<br>	2015-07-02	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM The Voice of Isengard	<br>	2015-07-17	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('efmg')>=0}" ng-click="sets.toggle('efmg')">	Escape from Mount Gram	<br>	2015-07-30	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	The Ruins of Belegost	<br>	2015-07-30	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('ate')>=0}" ng-click="sets.toggle('ate')">	Across the Ettenmoors	<br>	2015-09-03	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('ttor')>=0}" ng-click="sets.toggle('ttor')">	The Treachery of Rhudaur	<br>	2015-09-24	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM The Dunland Trap	<br>	2015-10-29	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM The Three Trials	<br>	2015-10-29	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	NM Trouble in Tharbad	<br>	2015-10-29	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tbocd')>=0}" ng-click="sets.toggle('tbocd')">	The Battle of Carn Dûm	<br>	2015-11-06	</button>
	    <button class="btn btn-primary btn-lg btn-outline packbutton" disabled>	Murder at the Prancing Pony	<br>	2015-11-14	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tlos')>=0}" ng-click="sets.toggle('tlos')">	The Land of Shadow	<br>	2015-11-19	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tdr')>=0}" ng-click="sets.toggle('tdr')">	The Dread Realm	<br>	2015-12-17	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tgh')>=0}" ng-click="sets.toggle('tgh')">	The Grey Havens	<br>	2016-02-09	</button>
            <button class="btn btn-primary btn-lg btn-outline packbutton" ng-class="{selected: sets.filtersettings.pack.indexOf('tfotw')>=0}" ng-click="sets.toggle('tfotw')" disabled>	The Flame of the West	<br>		</button>
	  </tr>
</div>

