<select ng-model="cards.filtersettings.search.traits" style="width:28%;">
  <option value="">Search by card trait</option>
  <option value="Archer">Archer</option>
  <option value="Armor">Armor</option>
  <option value="Artifact">Artifact</option>
  <option value="Beorning">Beorning</option>
  <option value="Boon">Boon</option>
  <option value="Bree">Bree</option>
  <option value="Burglar">Burglar</option>
  <option value="Condition">Condition</option>
  <option value="Craftsman">Craftsman</option>
  <option value="Creature">Creature</option>
  <option value="Dale">Dale</option>
  <option value="Dwarf">Dwarf</option>
  <option value="Dúnedain">Dúnedain</option>
  <option value="Eagle">Eagle</option>
  <option value="Ent">Ent</option>
  <option value="Esgaroth">Esgaroth</option>
  <option value="Fellowship">Fellowship</option>
  <option value="Gift">Gift</option>
  <option value="Gondor">Gondor</option>
  <option value="Healer">Healer</option>
  <option value="Hobbit">Hobbit</option>
  <option value="Isengard">Isengard</option>
  <option value="Istari">Istari</option>
  <option value="Item">Item</option>
  <option value="Mathom">Mathom</option>
  <option value="Minstrel">Minstrel</option>
  <option value="Mount">Mount</option>
  <option value="Noble">Noble</option>
  <option value="Noldor">Noldor</option>
  <option value="Outlands">Outlands</option>
  <option value="Pipe">Pipe</option>
  <option value="Pony">Pony</option>
  <option value="Ranger">Ranger</option>
  <option value="Record">Record</option>
  <option value="Ring">Ring</option>
  <option value="Ring-bearer">Ring-bearer</option>
  <option value="Rohan">Rohan</option>
  <option value="Scout">Scout</option>
  <option value="Signal">Signal</option>
  <option value="Silvan">Silvan</option>
  <option value="Skill">Skill</option>
  <option value="Song">Song</option>
  <option value="Spell">Spell</option>
  <option value="Staff">Staff</option>
  <option value="Steward">Steward</option>
  <option value="Tale">Tale</option>
  <option value="Title">Title</option>
  <option value="Trap">Trap</option>
  <option value="Warrior">Warrior</option>
  <option value="Weapon">Weapon</option>
  <option value="Woodman">Woodman</option>
</select>
