<div ng-controller="userViewCtrl" ng-show="userLoaded">
  <!-- <btn class="pull-right btn btn-primary btn-outline btn-rounded" ng-click="loadDeck()">Modify Deck</btn> -->
  <!-- <btn class="pull-right btn btn-primary btn-outline btn-rounded" ng-click="exportOctgn()">Export to OCTGN</btn> -->
  <!-- <btn class="pull-right btn btn-primary btn-outline btn-rounded" ng-click="exportText()">Export to Text</btn> -->
  <div>
    <h1>{{username}}</h1>
  </div>
  <!-- <span class="glyphicon glyphicon-dashboard bg-fade"></span> -->

  <div class="panel" style="width:49%;float:left;margin-right:1%">
    <div class="panel-heading">
      <h1 class="panel-title" style="font-size:24px">Published Decks</h1>
    </div>
    <div class="panel-body">
      <table class="table mydecktable">
	<!-- <thead> -->
	<!--   <tr> -->
	<!--     <th>Name</th> -->
	<!--     <th>Heroes</th> -->
	<!--     <\!-- <th>Deck ID</th> -\-> -->
	<!--   </tr> -->
	<!-- </thead> -->
	<tbody>
	  <tr ng-repeat="deck in userDecksArray | orderBy:'-dateUTC'" ng-show="deck.published" >
	    <td style="padding-left:10px;">
	      <!-- <div style="font-weight:bold;">Deck</div> -->
	      <!-- 					<div style="font-weight:bold;">{{deck}}</div>
							<div style="font-weight:bold;">{{deck.$id}}</div> -->
	      <div style="font-weight:bold;"><a ng-href="#/deck/id:{{deck.deckid}}">{{deck.deckname}}</a></div>
	    </td>
	    <td>
	      <table >
		<td ng-repeat="card in deck.heroes | orderBy:'sphere'" ng-mouseover="changepreview(card)" class="c{{card.sphere}}" style="padding-right:10px;">{{card.name}}</td>
	      </table>
	    </td>
	    <!-- <td> -->
	    <!--   <a ng-href="#/deck/id:{{deck.deckid}}">{{deck.deckid}}</a> -->
	    <!-- </td> -->
	  </tr>
	</tbody>
      </table>
    </div>
  </div>


  <div class="panel" style="width:49%;float:left;margin-right:1%">
    <div class="panel-heading">
      <h2 class="panel-title"  style="font-size:24px">Deck Pages
	<button ng-click="newPage()" class="btn btn-default pull-right" ng-show="authData.uid==ownerID">New Page</button>
      </h2>
    </div>


    <div class="panel-body">
      <table class="table" style="width:100%"><tbody>
      <tr ng-repeat="page in userPagesArray | orderBy:'-dateUTC'">
	<td>
	<div style="font-weight:bold;"><a ng-href="#/deck/page:{{page.pageid}}">{{page.pagetitle}}</a>
	  <div ng-show="authData.uid==ownerID" class="pull-right">
	    <a ng-click="editTitle(page)" title="Edit Title" style="margin-right:5px"><span class="glyphicon glyphicon-pencil"></span></a>
	    <a ng-click="deletePage(page)" title="Delete Page"><span class="glyphicon glyphicon-remove"></span></a>
	  </div>
	</div>
	</td>
      </tr>
      </tbody></table>
    </div>
  </div>





</div>
