<div class="cardpreviewdiv">
  <div ng-controller="tabController as tab" style="margin:5px;">
    <section class="tab">
      <ul class="nav nav-pills">
        <li>
          <a href ng-click="tab.setTab(1)" ng-class="{activetab: tab.isSet(1)}">Image</a></li>
        <li>
          <a href ng-click="tab.setTab(2); preview.image.loaded=false" ng-class="{activetab: tab.isSet(2)}">Text</a></li>
        <li>
      </ul>
    </section>
  
  
  <div ng-hide="preview.name()==' ()'">
    {{preview.name()}}<br/>
  
  <img ng-if="preview.image.url&&tab.isSet(1)" ng-src="{{preview.getImg()}}" class="cardpreview" alt="{{preview.alt()}}" title="{{preview.alt()}}" imageonload ng-show="preview.image.loaded" />
  <div ng-hide="preview.image.url&&tab.isSet(1)&&preview.image.loaded">
    <table ng-hide="preview.image.url&&tab.isSet(1)&&preview.image.loaded">
      <tr>
        <td colspan=2><h2>({{preview.image.cost}})</h2></td>
      </tr>
      <tr ng-show="preview.image.willpower!=null">
        <td>{{preview.image.willpower}}</td>
        <td><img src="img/willpower.gif"/></td>
      </tr>
      <tr ng-show="preview.image.willpower!=null">
        <td>{{preview.image.strength}}</td>
        <td><img src="img/strength.gif"/></td>
      </tr>
      <tr ng-show="preview.image.willpower!=null">
        <td>{{preview.image.defense}}</td>
        <td><img src="img/defense.gif"/></td>
      </tr>
      <tr ng-show="preview.image.willpower!=null">
        <td>{{preview.image.hitpoints}}</td>
        <td><img src="img/hitpoints.png" height=20px/></td>
      </tr>
      <tr>
        <td colspan=2><img ng-src="{{preview.image.sphere}}" /></td>
        <td> {{preview.image.type}} </td>
      </tr>
    </table>
    <div ng-hide="preview.image.url&&tab.isSet(1)&&preview.image.loaded"><h4 style="margin:0;"><img class="unique" src="img/unique.png" ng-show="preview.image.unique"/> {{preview.image.name}}</h4><b><i>{{preview.image.traits}}</i></b></div>
    <p ng-hide="preview.image.url&&tab.isSet(1)&&preview.image.loaded" style="text-align:left;white-space: pre-wrap;line-height:1.5;" ng-bind-html="trust(preview.image.textc)"></p>
  </div>
  </div></div>
</div>
