<div class="headerdiv">
  <div class="headertitle">LOTRDB</div>
  <input class="headerinput" id="siemail" placeholder="Email" type="text"></input>
  <input class="headerinput" id="sipassword" placeholder="Password" type="password"></input>
  <button class="headerbutton" ng-click="deckSearch.search();">Sign In</button>
  <label class="headertext">OR</label>
  <input class="headerinput" id="suuser" placeholder="Username" type="text"></input>
  <input class="headerinput" id="suemail" placeholder="Email" type="text"></input>
  <input class="headerinput" id="supassword" placeholder="Password" type="password"></input>
  <button class="headerbutton" ng-click="deckSearch.search();">Sign Up</button>
  <div id="my-signin2"></div>
</div>
