<div ng-show="tab.isSet(2)">
  <button class="packbutton" style="width:25%;height:25px" ng-click="packs.toggleonecore()" ng-class="{selected: packs.filtersettings.onecore}">
    Limit to 1 Core Set
  </button><button class="packbutton" style="width:25%;height:25px" ng-click="packs.toggletwocore()" ng-class="{selected: packs.filtersettings.twocore}">
    Limit to 2 Core Sets
  </button><button class="packbutton" style="width:25%;height:25px" ng-click="packs.selectAll()">
    Select All
  </button><button class="packbutton" style="width:25%;height:25px" ng-click="packs.selectNone()">
    Select None</button>
  <table class="packtable">
    <tbody>
      <tr>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('core')>=0}" ng-click="packs.toggle('core')">Core Set</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('kd')>=0}" ng-click="packs.toggle('kd')">Khazad-Dûm</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('hon')>=0}" ng-click="packs.toggle('hon')">Heirs of Númenor</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('voi')>=0}" ng-click="packs.toggle('voi')">The Voice of Isengard</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('tlr')>=0}" ng-click="packs.toggle('tlr')">The Lost Realm</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('thohauh')>=0}" ng-click="packs.toggle('thohauh')">Over Hill and Under Hill</button></td>
      </tr>
      <tr>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('thfg')>=0}" ng-click="packs.toggle('thfg')">The Hunt for Gollum</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('trg')>=0}" ng-click="packs.toggle('trg')">The Redhorn Gate</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('tsf')>=0}" ng-click="packs.toggle('tsf')">The Steward's Fear</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('tdt')>=0}" ng-click="packs.toggle('tdt')">The Dunland Trap</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('twoe')>=0}" ng-click="packs.toggle('twoe')">The Wastes of Eriador</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('thotd')>=0}" ng-click="packs.toggle('thotd')">On the Doorstep</button></td>
      </tr>
      <tr>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('catc')>=0}" ng-click="packs.toggle('catc')">Conflict at the Carrock</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('rtr')>=0}" ng-click="packs.toggle('rtr')">Road to Rivendell</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('tdf')>=0}" ng-click="packs.toggle('tdf')">The Drúadan Forest</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('ttt')>=0}" ng-click="packs.toggle('ttt')">The Three Trials</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('efmg')>=0}" ng-click="packs.toggle('efmg')">Escape from Mount Gram</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('tbr')>=0}" ng-click="packs.toggle('tbr')">The Black Riders</button></td>
      </tr>
      <tr>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('ajtr')>=0}" ng-click="packs.toggle('ajtr')">A Journey to Rhosgobel</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('twitw')>=0}" ng-click="packs.toggle('twitw')">The Watcher in the Water</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('eaad')>=0}" ng-click="packs.toggle('eaad')">Encounter at Amon Dîn</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('tit')>=0}" ng-click="packs.toggle('tit')">Trouble in Tharbad</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('ate')>=0}" ng-click="packs.toggle('ate')">Across the Ettenmoors</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('rd')>=0}" ng-click="packs.toggle('rd')">The Road Darkens</button></td>
      </tr>
      <tr>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('thoem')>=0}" ng-click="packs.toggle('thoem')">The Hills of Emyn Muil</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('tld')>=0}" ng-click="packs.toggle('tld')">The Long Dark</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('aoo')>=0}" ng-click="packs.toggle('aoo')">Assault on Osgiliath</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('nie')>=0}" ng-click="packs.toggle('nie')">The Nin-in-Eilph</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('ttor')>=0}" ng-click="packs.toggle('ttor')">The Treachery of Rhudaur</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('tos')>=0}" ng-click="packs.toggle('tos')">The Treason of Saruman</button></td>
      </tr>
      <tr>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('tdm')>=0}" ng-click="packs.toggle('tdm')">The Dead Marshes</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('fos')>=0}" ng-click="packs.toggle('fos')">Foundations of Stone</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('tbog')>=0}" ng-click="packs.toggle('tbog')">The Blood of Gondor</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('cs')>=0}" ng-click="packs.toggle('cs')">Celebrimbor's Secret</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('tbocd')>=0}" ng-click="packs.toggle('tbocd')">The Battle of Carn Dûm</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('tlos')>=0}" ng-click="packs.toggle('tlos')">The Land of Shadow</button></td>
      </tr>
      <tr>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('rtm')>=0}" ng-click="packs.toggle('rtm')">Return to Mirkwood</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('saf')>=0}" ng-click="packs.toggle('saf')">Shadow and Flame</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('tmv')>=0}" ng-click="packs.toggle('tmv')">The Morgul Vale</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('tac')>=0}" ng-click="packs.toggle('tac')">The Antlered Crown</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('tdr')>=0}" ng-click="packs.toggle('tdr')">The Dread Realm</button></td>
        <td><button class="packbutton" ng-class="{selected: packs.filtersettings.pack.indexOf('tfotw')>=0}" ng-click="packs.toggle('tfotw')" disabled>The Flame of the West</button></td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  <td><button class="packbutton" style="width:20%;height:50px" ng-class="" ng-click="">Build me a deck</button></td>
</div>
